#react-root-container
  height: 100%

  .app-component
    position: relative
    height: 100%

    main
      position: relative
      height: calc(100% - 60px)
      box-sizing: border-box

      article.all-tours
        height: 100%
        overflow: auto
        -webkit-overflow-scrolling: touch
        background: #FAFAFA

        > section
          margin: 0 auto
          max-width: 400px

          header
            padding: 15px 20px
            color: rgba(0, 0, 0, .54)
            font-size: 16px
            background: #EEEEEE

            .today
              color: #00897B
